*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    line-height: 1.4;
    font-weight: 300;
    font-family:"lato",sans-serif;
}

/* Navigation */

nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Hero Section */
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.hero_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag{
    background-color: #149f39;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}

.hero_content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}

button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out; 
}

button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.explore_btn{
    background-color: #ffac37;
    align-self: flex-start;
}

.features{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.feature img{
    width: 72px;
}

.feature{
    display: flex;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.feature:hover{
    transition: 0.2s ease-in-out;
    box-shadow:5px 5px 5px rgba(1, 1, 1, 0.05);
}

.divider{
    border: 1px solid #ccc;
    margin: 20px 0;
}

/* Menu Section */

.menu{
    display: flex;
    flex-direction:column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}

.menu .tag{
    align-self: center;
    cursor: pointer;
}   

.grid{
    display: grid;
    gap: 10px;
    grid-template-areas:"i1 i1 i2 i3"
    "i1 i1 i2 i7"
    "i4 i5 i6 i7";
}

.item1{
    grid-area: i1;
}

.item2{
    grid-area: i2;
}

.item3{
    grid-area: i3;
}

.item4{
    grid-area: i4;
}

.item5{
    grid-area: i5;
}

.item6{
    grid-area: i6;
}

.item7{
    grid-area: i7;
}

.grid_img{
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    height: 100%;
    width: 100%;
}

.grid_img:hover{
    scale:1.05;
    transition: 0.2s ease-in-out;
}


/* Footer */

footer{
    background-color: #fff0db;
}

.footer_container{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

.link_list h3{
    margin-bottom: 10px;
    color: gray;
}

.link_list ul{
   list-style: none;
   cursor: pointer;
}

.link_list ul li{
   font-size: 16px;
   margin-bottom: 5px;
}

.Support h3{
    margin-bottom: 10px;
    color: gray;
}

.Support ul{
   list-style: none;
   cursor: pointer;
}

.Support ul li{
   font-size: 16px;
   margin-bottom: 5px;
}

.news_letter h3{
    margin-bottom: 10px;
    color: gray;
}

.news_letter input{
    padding: 5px 40px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-width:786px ){
    .hero{
        flex-direction: column;
    }

    .hero_img{
        display: flex;
        justify-content: center;
    }

    .hero_img img{
        width: 80%;
    }

    .hero_content{
        gap: 10px;
        padding: 10px;
    }

    .hero_content h1{
    font-size: 32px;
    }

    .features{
        flex-direction: column;
    }

    .feature{
        display: flex;
        flex-direction: column;
    }

    .grid{
        padding: 10px;
    }

    .grid_img{
        border-radius: 0;
    }

    .footer_container{
        flex-direction: column;
        gap: 20px;
    }
    
}